<div class="ct-responsive-table-container">
    <table class="table table-condensed table-hover">
        <caption *ngIf="caption">{{ caption }}</caption>
        <thead>
            <tr>
                <th *ngFor="let map of columnMaps">{{ map.header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records"
                 class="ct-selectable-row"
                (click)="select(record.id)">
                <td *ngFor="let map of columnMaps"
                    [ctStyleCell]="record[map.access(record)]">
                    <span>
                        {{ record[map.access(record)] | formatCell:map.format }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
