<svg class="graph" baseProfile="full" viewBox="-50 -50 1100 600">
    <g class="axis y-axis">
        <line x1="0" x2="0" y1="0" y2="500"></line>
    </g>
    <g class="axis x-axis">
        <line x1="0" x2="1000" y1="500" y2="500"></line>
    </g> 
    <g class="labels x-labels">
        <line x1="0" x2="0" y1="500" y2="520"></line>
        <text x="0" y="550">0</text>
        <line x1="200" x2="200" y1="500" y2="520"></line>
        <text x="200" y="550">50</text>
        <line x1="400" x2="400" y1="500" y2="520"></line>
        <text x="400" y="550">100</text>
        <line x1="600" x2="600" y1="500" y2="520"></line>
        <text x="600" y="550">150</text>
        <line x1="800" x2="800" y1="500" y2="520"></line>
        <text x="800" y="550">200</text>
        <line x1="1000" x2="1000" y1="500" y2="520"></line>
        <text x="1000" y="550">250</text>
    </g>
    <g class="labels y-labels">
        <text x="0" dx="-50" dy="35" y="25">A</text>
        <text x="0" dx="-50" dy="35" y="125">B</text>
        <text x="0" dx="-50" dy="35" y="225">C</text>
        <text x="0" dx="-50" dy="35" y="325">D</text>
        <text x="0" dx="-50" dy="35" y="425">E</text>
        
    </g>
    <g class="bars" transform="translate(3)">
        <rect x="0" y="425" width="50" height="50" />
        <rect x="0" y="325" width="250" height="50" />
        <rect x="0" y="225" width="500" height="50" />
        <rect x="0" y="125" width="750" height="50" />
        <rect x="0" y="25" width="1000" height="50" />
    </g>
</svg>