.table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table th {
    white-space: nowrap;
}