<div class="table-responsive">
    <table class="table">
        <caption *ngIf="caption">{{ caption }}</caption>
        <thead>
            <tr>
                <th *ngFor="let map of columnMaps; let i = index"
                    [ngStyle]="{'width': columnStates[i].width}">
                    <div>
                            {{ map.header }}  
                    </div>          
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let map of columnMaps"
                    [ctStyleCell]="record[map.access(record)]">
                    {{ record[map.access(record)] | formatCell:map.format }}
                </td>
            </tr>
        </tbody>
    </table>
</div>